*{margin:0;padding:0;}
body {
  background: #111;
  height: 100%;
}
.diy-slideshow{
  position: relative;
  display: block;
  overflow: hidden;
}
figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
}

figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
