*{margin:0;padding:0;}
body {
  background: #111;
}
.diy-slideshow{
  position: relative;
  overflow: hidden;
  display: table-cell;
  vertical-align:middle; 
  text-align:center;
}
.diy-slideshow img{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
  }
.diy-slideshow img.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}